In [1]:
import pandas as pd
import math

### Input Columns

In [2]:
# columns
n_column = int(input("Masukan jumlah feature kolom dan kolom label: "))

Masukan jumlah feature kolom dan kolom label: 3

In [3]:
columns = []
for i in range(n_column):
    column = input(f'Nama column ke-{i+1}: ')
    columns.append(column)

Nama column ke-1: x
Nama column ke-2: y
Nama column ke-3: kategori

In [4]:
print(columns)

['x', 'y', 'kategori']

### Input Index

In [5]:
# index
n_index = int(input("Masukan jumlah baris data: "))

Masukan jumlah baris data: 6

In [6]:
index = []
for i in range(n_index):
    baris = []
    print(f'Baris ke-{i+1}')
    for j in columns:
        if j == columns[-1]:
            baris.append(input(f'Input nilai baris ke-{i} pada kolom {j} : '))
        else:
            baris.append(int(input(f'Input nilai baris ke-{i} pada kolom {j} : ')))
    index.append(baris)
    print("\n")

Baris ke-1
Input nilai baris ke-0 pada kolom x : 7
Input nilai baris ke-0 pada kolom y : 6
Input nilai baris ke-0 pada kolom kategori : bad


Baris ke-2
Input nilai baris ke-1 pada kolom x : 6
Input nilai baris ke-1 pada kolom y : 6
Input nilai baris ke-1 pada kolom kategori : bad


Baris ke-3
Input nilai baris ke-2 pada kolom x : 6
Input nilai baris ke-2 pada kolom y : 5
Input nilai baris ke-2 pada kolom kategori : bad


Baris ke-4
Input nilai baris ke-3 pada kolom x : 1
Input nilai baris ke-3 pada kolom y : 3
Input nilai baris ke-3 pada kolom kategori : good


Baris ke-5
Input nilai baris ke-4 pada kolom x : 2
Input nilai baris ke-4 pada kolom y : 4
Input nilai baris ke-4 pada kolom kategori : good


Baris ke-6
Input nilai baris ke-5 pada kolom x : 2
Input nilai baris ke-5 pada kolom y : 2
Input nilai baris ke-5 pada kolom kategori : good

In [7]:
print(index)

[[7, 6, 'bad'], [6, 6, 'bad'], [6, 5, 'bad'], [1, 3, 'good'], [2, 4, 'good'], [2, 2, 'good']]

### Membuat DataFrame dan Split Features & Label

Membuat DataFrame

In [8]:
df = pd.DataFrame(index, columns=columns)
df

   x  y kategori
0  7  6      bad
1  6  6      bad
2  6  5      bad
3  1  3     good
4  2  4     good
5  2  2     good

In [9]:
unique_class = set(df[columns[-1]])
unique_class

{'bad', 'good'}

Split Features & Label

In [10]:
features = columns[:-1]
label = columns [-1]
X = df[features]
y = df[label]

In [11]:
X

   x  y
0  7  6
1  6  6
2  6  5
3  1  3
4  2  4
5  2  2

In [12]:
y

0     bad
1     bad
2     bad
3    good
4    good
5    good
Name: kategori, dtype: object

### Menghitung Jarak

In [13]:
atributs = []
for i in range(len(columns[:-1])):
    atributs.append(int(input(f'Input nilai test pada kolom {columns[i]} : ')))

Input nilai test pada kolom x : 3
Input nilai test pada kolom y : 5

In [14]:
distances = []
def ED(atributs, features):
    for i in range(len(features)):
        distance = 0
        print(f'baris ke-{i+1}')
        for j in columns[:-1]:
            hasil = (features[j][i] - atributs[columns.index(j)])**2
            distance = distance + hasil
            print(f'Hasil {j} : {hasil}')
        distance = round(math.sqrt(distance), 2)
        print(f'Jarak : {distance}\n')
        distances.append(distance)

In [15]:
ED(atributs, X)

baris ke-1
Hasil x : 16
Hasil y : 1
Jarak : 4.12

baris ke-2
Hasil x : 9
Hasil y : 1
Jarak : 3.16

baris ke-3
Hasil x : 9
Hasil y : 0
Jarak : 3.0

baris ke-4
Hasil x : 4
Hasil y : 4
Jarak : 2.83

baris ke-5
Hasil x : 1
Hasil y : 1
Jarak : 1.41

baris ke-6
Hasil x : 1
Hasil y : 9
Jarak : 3.16

In [16]:
print(distances)

[4.12, 3.16, 3.0, 2.83, 1.41, 3.16]

### Memasukan Kolom Jarak

In [17]:
df.insert(n_column, "Distances", distances)

In [18]:
df

   x  y kategori  Distances
0  7  6      bad       4.12
1  6  6      bad       3.16
2  6  5      bad       3.00
3  1  3     good       2.83
4  2  4     good       1.41
5  2  2     good       3.16

### Menampilkan label dengan jarak terdekat dengan nilai k

In [19]:
k = int(input("Input nilai k: "))

Input nilai k: 3

In [20]:
sort = df.sort_values(by=['Distances']).iloc[:k]

In [21]:
sort_count = list(sort[columns[-1]])

In [23]:
for i in unique_class:
    print(f'Class {i} sebanyak {sort_count.count(i)}')

Class good sebanyak 2
Class bad sebanyak 1